<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.project4.mealchelin.mapper.CommentMapper">

	<resultMap type="kh.project4.mealchelin.board.CommentVO" id="commentvo">
		<result column="RNO" property="rNo" />
		<result column="PID" property="pId"	/>
		<result column="MID" property="mId" />
		<result column="CONTENT" property="content" />
		<result column="REGDATE" property="regDate" />
		<result column="UPDATEDATE" property="updateDate" />
	</resultMap>

	<!-- id 속성은 DAO 의 메소드와 같아야 한다. 여기의 boardVO 는 mybatis-confg.xml 에 Alias 되어 
		있습니다. -->
	<select id="list" resultType="CommentVO">
		select * from REVIEW
			where PID =	#{pId}
			order by RNO desc
	</select>

	<select id="create">
		insert into REVIEW (PID, MID, CONTENT, REGDATE)
			values(#{pId},#{mId},#{content},now())
	</select>
	<update id="update">
		update REVIEW set CONTENT = #{content},	REGDATE = now()
			where RNO = #{rNo}
	</update>

	<delete id="delete">
		delete from REVIEW where RNO =#{rNo}
	</delete>

	<!-- 임시로 페이지값 떼우듯이 설정한거 제대로 복구하기 -->
	<select id="listPage" resultType="CommentVO">
		select * from REVIEW
			where PID=1
			order by RNO desc
			limit 0, 12
	</select>

	<select id="count" resultType="int">
		select count(PID) from REVIEW
			where PID =#{pId}
	</select>

	<select id="getPid" resultType="int">
		select PID from REVIEW
			where RNO= #{rNo}
	</select>
	
	<insert id="addAttach">
		insert into FILENAME_TBL(savedFileName)
			values(#{savedFileName})
	</insert>
	
	<select id="getAttach" resultType="string">
		select savedFileName
			from FILENAME_TBL
			where RNO = #{rNo}
	</select>
	
	<delete id="deleteAttach">
		delete from FILENAME_TBL
			where RNO = #{rNo}
	</delete>
	
	<insert id="replaceAttach">
		insert into FILENAME_TBL(savedFileName,RNO)
			values (#{savedFileName},#{rNo})
	</insert>
	
</mapper>
