<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.project4.mealchelin.mapper.MemberMapper">

	<resultMap type="kh.project4.mealchelin.member.PointDTO" id="point">
		<result column="MID" property="mId" />
		<result column="CURRENTPOINT" property="currentPoint" />
		<result column="UPDATEDATE" property="updateDate" />
	</resultMap>

	<resultMap type="kh.project4.mealchelin.member.MemberDTO" id="member">
		<result column="MID" property="mId" />
		<result column="PW" property="pw" />
		<result column="MNAME" property="mName" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="EMAIL" property="email" />
		<result column="REGDATE" property="regDate" />
		<result column="MLEVEL" property="mLevel" />
		<collection property="pointDTO" resultMap="point" />
	</resultMap>	
	
	<select id="submitLogin" resultType="kh.project4.mealchelin.member.MemberDTO">
		select *
			from MEMBER
			where MID=#{mId} and PW=#{pw}
	</select>

	<insert id="submitSignUp">
		insert into MEMBER(MID, PW, MNAME, PHONE, ADDRESS, EMAIL, REGDATE)
			values(#{mId}, #{pw}, #{mName}, #{phone}, #{address}, #{email}, now())
	</insert>

	<select id="checkUniqueId" resultType="int">
		select count(*)
			from MEMBER
			where MID=#{mId}
	</select>

	<select id="checkUniqueEmail" resultType="int">
		select count(*)
			from MEMBER
			where EMAIL=#{email}
	</select>
	
	<select id="checkUniqueEmailForModify" resultType="int">
		select count(*)
			from MEMBER
			where EMAIL=#{email}
			and MID != #{mId}
	</select>
	
	<insert id="earnPointForNewMember">
		insert into POINT
			values(#{mId}, #{currentPoint}, now())
	</insert>
	
	<select id="showPoint" resultType="kh.project4.mealchelin.member.PointDTO">
		select * from POINT
			where MID=#{mId}
	</select>
	
	<select id="showMemberDetail" resultMap="member">
		select a.mid, a.PW, a.MNAME, a.PHONE, a.ADDRESS, a.EMAIL, a.REGDATE, a.MLEVEL, b.CURRENTPOINT, b.UPDATEDATE
	    	FROM MEMBER a
			INNER JOIN POINT b
	        ON a.mid=b.mid
	        and a.mid=#{mId}
	</select>	
		
	<update id="submitModifyMemberByAdmin">
		update MEMBER
		    set PW=#{pw}, MNAME=#{mName}, PHONE=#{phone}, ADDRESS=#{address}, EMAIL=#{email}
		    where mid=#{mId}
	</update>
	
	<update id="modifyPoint">
		update POINT
		    set CURRENTPOINT=#{point}, UPDATEDATE=now()
		    where mid=#{mId}
	</update>
	
	<update id="closeAccount">
		update MEMBER
		    set MLEVEL=-1
		    where MID=#{mId}
	</update>
	
	<select id="selectMember" resultType="kh.project4.mealchelin.member.MemberDTO">
		select *
			from MEMBER
			where MID=#{mId}
	</select>

	<select id="checkPwd" resultType="int">
		select count(*)
			from MEMBER
			where MID=#{mId}
			and PW=#{pw}
	</select>
	
	<select id="checkEmail" resultType="int">
		select count(*)
			from MEMBER
			where EMAIL=#{email}
	</select>

	<update id="updateMyInfo">
		update MEMBER
			set MNAME=#{mName}, EMAIL=#{email}, PHONE=#{phone}, ADDRESS=#{address}
			where MID=#{mId}
	</update>

	<update id="updatePwd">
		update MEMBER
			set PW=#{pw}
			where MID=#{mId}
	</update>

	<update id="deleteMember">
		update MEMBER
			set MLEVEL=-1
			where MID=#{mId}
	</update>

	<sql id="search">
		<if test="searchType != null" >
			<if test="searchType == 'i'.toString()">where MID like CONCAT('%', #{keyword}, '%')	</if>
			<if test="searchType == 'n'.toString()">where MNAME like CONCAT('%', #{keyword}, '%')</if>
		</if>
	</sql>

	<select id="selectMemberList" resultType="kh.project4.mealchelin.member.MemberListDTO">
		select m.MID, m.MNAME, m.MLEVEL, m.REGDATE, p.CURRENTPOINT
			from MEMBER m
			INNER JOIN POINT p
			ON m.MID = p.MID
			<include refid="search"></include>
			order by MID asc
			LIMIT #{pageStart}, 10;
	</select>

	<select id="countPage" resultType="int">
		select count(*)
			from MEMBER
			<include refid="search"></include>
	</select>
</mapper>