<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.project4.mealchelin.mapper.ProductMapper">

	<select id="selectProductList" resultType="ProductVO">
		select * from PRODUCT
			order by pId desc
	</select>

	<select id="selectProductDetail" resultType="ProductDetailVO">
		select * from
			PRODUCT NATURAL JOIN PRODUCTTYPE
			where pId=#{pId}
	</select>

	<select id="selectNewProductList" resultType="ProductVO">
		SELECT * FROM PRODUCT
			ORDER BY pId DESC
			LIMIT 12
	</select>

	<select id="selectRelatedList" resultType="ProductVO">
		SELECT * FROM PRODUCT
			WHERE pId != 1
			ORDER BY pId DESC
			LIMIT 4
	</select>

	<select id="selectByTypeCode" resultType="ProductVO">
		select * from PRODUCT
			where typeCode=#{typeCode}
	</select>
	
	<select id="selectTypeByTypeCode" resultType="ProductTypeVO">
		select * from PRODUCTTYPE
			where typeCode=#{typeCode}
	</select>

	<insert id="insert" parameterType="ProductVO">
		INSERT INTO PRODUCT(TYPECODE, PNAME, PRICE, BRAND, DESCRIPTION, THUMBNAIL, IMAGE)
			values(#{typeCode}, #{pName}, #{price},	#{brand}, #{description}, #{thumbnail}, #{image})
	</insert>

	<update id="updateProduct">
		update PRODUCT
			set	typeCode=#{typeCode}, pName=#{pName}, price=#{price}, brand=#{brand}, description=#{description}
			where pId=#{pId}
	</update>

	<delete id="delete">
		DELETE FROM PRODUCT
			WHERE pId = #{pId}
	</delete>

	<select id="selectListWithPaging" resultType="ProductVO">
		SELECT * FROM PRODUCT
			LIMIT #{page}, 10
	</select>

	<select id="countPaging" resultType="int">
		select count(pId)
			from PRODUCT
	</select>

	<select id="search" parameterType="String" resultType="ProductVO">
		select * from PRODUCT
			where pName like CONCAT('%', #{keyword}, '%')
			order by pId desc
	</select>

	<sql id="searchSql">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">
				and pName like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'b'.toString()">
				and brand like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'd'.toString()">
				and description likeCONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'nb'.toString()">
				and ( pName like CONCAT('%', #{keyword}, '%')
				OR brand like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'nd'.toString()">
				and ( pName like CONCAT('%', #{keyword}, '%')
				OR description like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'nbd'.toString()">
				and ( pName like CONCAT('%', #{keyword}, '%')
				OR
				brand like CONCAT('%', #{keyword}, '%')
				OR
				description like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>


	<select id="adminListSearch" resultType="ProductVO">
		SELECT * FROM PRODUCT
			WHERE 1=1 <include refid="searchSql" />
			LIMIT 0, 10
	</select>


	<select id="adminListSearchCount" resultType="int">
		<![CDATA[
		select count(pId)
			from PRODUCT
			where pId > 0
		]]>
			<include refid="searchSql" />
	</select>
</mapper>